flask
gunicorn
gevent
flask-sqlalchemy
flask-login
flask-wtf
apscheduler
sqlalchemy
werkzeug
requests
azure-storage-blob
Pillow
python-dotenv
pymongo
psycopg2-binary
anthropic
openai
tiktoken
stripe
beautifulsoup4
reportlab
email-validator
httpx
lxml
paypal-checkout-serversdk
paypal-payouts-sdk