{% extends 'admin/master.html' %}

{% block body %}
<div class="admin-dashboard">
    <div class="container">
        <div class="jumbotron">
            <h1>GloriaMundo Admin Dashboard</h1>
            <p>Welcome to the GloriaMundo admin interface. Please use the navigation menu above to manage system resources.</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Management</h3>
                    </div>
                    <div class="panel-body">
                        <p>View and manage user accounts, including authentication and profile settings.</p>
                        <a href="{{ url_for('admin_users.index_view') }}" class="btn btn-default">Manage Users</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Affiliate System</h3>
                    </div>
                    <div class="panel-body">
                        <p>Manage affiliates and commission payouts for the referral program.</p>
                        <a href="{{ url_for('admin_affiliates.index_view') }}" class="btn btn-default">Manage Affiliates</a>
                        <a href="{{ url_for('admin_commissions.index_view') }}" class="btn btn-default">Manage Commissions</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">System Information</h3>
                    </div>
                    <div class="panel-body">
                        <p><strong>Admin Email:</strong> {{ current_user.email }}</p>
                        <p><strong>Server Time:</strong> {{ now().strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}